<div class="d-flex justify-content-center mt-3 mb-3">
  <select [(ngModel)]="select">
    <option value="all">-- เลือกผู้แต่ง --</option>
    <option *ngFor="let author of book" [value]="author.authors[0].first_name">{{ author.authors[0].first_name }}</option>
  </select>
</div>

<div class="table-users">
  <div class="header">ระบบจัดเก็บห้องสมุด</div>

  <table cellspacing="0">
    <tr>
      <th>ชื่อหนังสือ</th>
      <th>ชื่อผู้แต่ง</th>
      <th>จำนวนผู้แต่ง</th>
    </tr>

    <tr *ngFor="let list of paginatedBooks; let i = index">
      <td>{{ list.book.title }}</td>
      <td>{{ setName(list.authors) }}</td>
      <td>{{ list.authors.length }}</td>
    </tr>
  </table>

  <div class="d-flex justify-content-center mt-3 mb-3">
    <div class="pagination">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
      <button *ngFor="let page of pageNumbers"
              (click)="changePage(page)"
              [class.active]="currentPage === page">
        {{ page }}
      </button>
      <button (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
  </div>

